{% extends 'base/authBase.html' %} 
{% load static %}
{% load tags %}

{% block title %}Регистрация{% endblock %}

{% block links %}
    <!-- <link rel="stylesheet" href="{% static 'forms/base-form.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/form/form-size.css' %}">
{% endblock %}

{% block form %}
    <form class="p-4 rounded shadow text-warning border border-warning border-opacity-25 position-absolute w-100" method="post" action="{% url 'registration' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <h2 class="text-center">Регистрация аккаунта</h2>

        <hr>
        
        <div class="mb-2">
            <label id="username-label">{{form.username.label}}</label>
            {{form.username}}
            <small class="form-text text-warning-emphasis" id="username-help">Введите логин, который будете использовать для входа в аккаунт.</small>    
        </div>

        <div class="mb-2">
            <label id="email-label">{{form.email.label}}</label>
            {{form.email}}
            <small class="form-text text-warning-emphasis" id="email-help">Введите вашу почту.</small>    
        </div>

        <div class="mb-2">
            <label id="password-label">{{form.password.label}}</label>
            {{form.password}}
            <div class="d-flex justify-content-between">
                <small class="form-text text-warning-emphasis" id="password-help">Введите пароль</small>    
                <small class="form-text fw-bold" id="password-secure-check"></small>
            </div>
        </div>

        <div class="mb-2">
            <label id="password_check-label">{{form.password_check.label}}</label>
            {{form.password_check}}
            <small class="form-text text-warning-emphasis" id="password_check-help">Повторите введенный пароль</small>    
        </div>
        
        <a href="{% url 'login' %}">kjascjdskcn</a>
        <button type="submit" class="btn btn-primary w-100 mt-2" id="btnSubmit" disabled>Зарегистрироваться</button>

    </form>
{% endblock form %}



{% block scripts %}
    <script src="{% static 'js/registration/validate-username.js' %}"></script>
    <script src="{% static 'js/registration/validate-email.js' %}"></script>
    <script src="{% static 'js/registration/validate-password.js' %}"></script>
    <script src="{% static 'js/registration/submit-form.js' %}"></script>
{% endblock %}

